# MLauto Git Ignore List

# Ignore the runs folder completely
runs/

# Ignore local environment files containing keys
local/.env
.env

# Ignore python caches and virtual environments
__pycache__/
*.pyc
.venv/
venv/

# Ignore IDE specific folders
.idea/
.vscode/
.DS_Store
